body {
	background: $platinum-color;
}

html, body {
	scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}

.trademarks {
	height: auto;
	overflow-y: visible;
	padding-bottom: 20px;
}

.trademarks__wrapper {
	margin: 0 auto;
	min-width: 320px;
	max-width: 1120px;
}

@media all and (max-width: 767px) {
	.trademarks__wrapper {
		padding: 0 0 0 15px !important; 
		box-sizing: border-box;
	}
}

@media all and (min-width: 768px) {
	.trademarks__wrapper {
		padding: 0 20px 0 40px; 
	}
}

.swiper-wrapper {
	padding: 0 0 0 15px; 
}

.swiper {
	height: 135px;
}

/*----Стили Хедера---------------------------------------------------------------------------------------*/

.trademarks__header {
	min-height: 70px;
	background: linear-gradient(to right, $header-smoky-color, $white-color);
}


.trademarks__header .trademarks__wrapper {
	border-top: 2px solid $top-border-color;
}

.trademarks__header h2 {
	display: inline-block;
	opacity: 0.6;
	font-weight: normal;
	font-size: 16px;
	line-height: 50px;
}

/*------------------------------------------------------------------------------------------------------*/

.trademarks__content {
	padding: 20px 0 0 0;	
}

@media all and (min-width: 768px) {
	.trademarks__content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: space-between;
		max-height: 170px;	
		overflow: hidden;
	}
}

@media all and (max-width: 767px) {
	.swiper-slide {
		height: 70px;
	}	
}


.swiper-pagination-bullet {
	--swiper-pagination-bullet-inactive-color: #dcdcdc;
	--swiper-pagination-bullet-inactive-opacity: 1;
	height: 12px !important;
	width:  12px !important;
}


.swiper-pagination-bullet-active {
	--swiper-theme-color: #b4b5bb;
}

/*.swiper-pagination-bullet-active-prev {
	visibility: hidden !important;
}

.swiper-pagination-bullet-active-next {
	visibility: hidden !important;	
}*/

.swiper-pagination {
		position: absolute;
		height: 20px;
		z-index: 3;
	}

.swiper-pagination_trademarks {
	bottom: 60px !important;
}


@media all and (min-width: 768px) {
	.swiper-pagination {
		display: none;
	}
}

@media all and (min-width: 768px) {
	.trademarks__content_hidden {
		max-height: 170px;	
		overflow: hidden;
		transition: max-height 0.8s ease-in-out; 
	}
}

.trademarks__content_open {
    max-height: 600px;
    transition: max-height 0.8s ease-in-out;
}

.trademarks__button {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  vertical-align: bottom;
}

.trademarks__button>img {
	height: 40px;
	border-radius: 20px;
}

.trademarks__button>img:nth-child(2) {
	width: 38px;
	height: 38px;
	position: absolute;
	left:3%;    
	top: 3%;
	filter: opacity(0);
}

.trademarks__button>img:nth-child(2):hover {
	filter: opacity(0.6);
	transition:  0.5s;
}


.trademarks__logo {
	flex-shrink: 0;
	flex-grow: 1;
	width: 240px;
	max-width: 333px;
	height: 70px !important;
	border: 2px solid $logo-border-color;
	border-radius: 5px;
	background: $white-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 15px 15px 0;
	padding: 0 15px 0 15px;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
}

.trademarks__logo:nth-child(9),
.trademarks__logo:nth-child(10),
.trademarks__logo:nth-child(11) {
	flex-grow: 0;
}


.trademarks__logo>img {
	max-height: 45px;
	max-width: 120px;
}


@media all and (max-width: 767px) {
	.trademarks__wrapper:nth-child(2)::after {
		content: "";
		position: absolute;
		right: 0px;
		top: 20px;
		z-index: 1;
		width: 50px;
		height: 70px;
		background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
	}
}

@media all and (max-width: 767px) {
	.trademarks__wrapper:nth-child(2)::before {
		content: "";
		position: absolute;
		left: 0px;
		top: 20px;
		z-index: 2;
		width: 40px;
		height: 70px;
		background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
	}
}

.trademarks__button-read-more {
	padding: 0;
	padding-left: 15px;
 	border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;

}

.trademarks__button-read-more>img {
	display: inline-block;
	vertical-align: middle;
	transform: rotate(0deg);
	transition-property: transform;
	transition-duration: 0.8s;
	transition-timing-function: ease-in-out;
	opacity: 1;
}

.trademarks__button-read-more>span { 
	font-weight: 500;
	color: $graphite-color;
	display: inline-block;
	vertical-align: middle;
	/*opacity: 0.6;*/
}

.trademarks__button-read-more_rotated>img {
	transform: rotate(180deg);
	transition-property: transform;
	transition-duration: 0.8s;
	transition-timing-function: ease-in-out;
}


.trademarks__button-read-more:hover {
	filter: opacity(0.6);
	transition:  0.4s;
  	animation: hover 0.4s forwards;
	@keyframes hover {
	  0% {
	    transform: scale(1);
	  }
	  100% {
	    transform: scale(1.05);
	  }
	}
}




@media all and (max-width: 767px) {
	.trademarks__button-read-more
	 {
		display: none;
	}
}