.aside {
	position: absolute;
	left: -340px;
	top: 0;
	z-index: 11;
	background-color: $white-color;
	width: 320px;
	/*min-height: 200%;*/
	/*min-height: 620px;*/
	flex-shrink: 0;
}


@media all and (max-width: 1119px) {
	.aside {
		box-shadow: 20px 0px 20px -10px $platinum-gray-color;	
	}
}


@media all and (max-width: 767px) {
	.aside__open {
		width: 100%;
	}
}

@media all and (min-width: 768px) {
	.aside__open {
		width: 320px;
	}
}



.aside__open {
	transform: translateX(340px);
	transition-property: transform;
	transition-duration: 0.6s;
	transition-timing-function: ease-out;
}

.aside__hidden {
	transform: translateX(-340px);
	transition-property: transform;
	transition-duration: 0.6s;
	transition-timing-function: ease-out;
}

.aside__static {
	position: static;
}

.aside__blur,
.aside__blurCallBack {
	filter: blur(2px);
}

.aside__blurFeedback {
	filter: blur(2px);
}


.aside__wrapper {
	/*height: 100vh;*/
	max-height: 1200px;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*----Стили Хедера и верхнего навигационного меню nav----------------------------------------------------*/

.aside__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	min-height: 85px;
}

.aside__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.aside__button:hover {
	filter: opacity(0.6);
	transition-property: filter;
	transition-duration: 0.25s;
	transition-timing-function: linear; 
}


.aside__logo {
	width: 170px;
}


/*----------------------------------------------------------------------------------------------------*/

/*--------Стили меню-списка---------------------------------------------------*/

.aside ul {
	padding-left: 0px;
	list-style: none;
}

.aside__menu {
	display: flex;
	justify-content: flex-start;
	flex-grow: 1;
}

.aside__menu ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-weight: normal;
	height: 470px;
	margin-top: 0px;
	flex-shrink: 0;
	flex-grow: 0;
}

.aside__menu ul li {
	position: relative;
}

.aside__menu ul li a {
	text-decoration: none;
	color: inherit;
}

.aside__menu ul li:hover {
	opacity: 0.5;
	transition-duration: 0.4s;
}

.aside__menu ul li:hover::before {
	display: inline-block;
	background-image: url("../../src/img/highlightSmall.png"); 
	vertical-align: middle;
	content: "";
	position: absolute;
	left: -20px;
	bottom: -25%;
	width: 4px;
	height: 32px;
}


/*----------------------------------------------------------------------------------------------------*/
.aside__actions ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 150px;
}

.aside__mail a {
	text-decoration: none;
	color: inherit;
}

.aside__phone {
	margin-top: 0.75em;
	margin-bottom: 1.6em;
	font-weight: 800;
	font-size: 21px;
}

.aside__phone a {
	text-decoration: none;
	color: inherit;
}

.aside__language ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 85px;	
}

.aside__button_checked {
	opacity: 0.6;
}