.repairs {
	height: auto;
	position: relative;
	padding-bottom: 10px; 
}

.repairs__wrapper {
	position: relative;
	margin: 0 auto;
	min-width: 320px;
	max-width: 1120px;
}

@media all and (max-width: 767px) {
	.repairs__wrapper {
		padding: 0 0 0 15px !important; 
		box-sizing: border-box;
	}
}

@media all and (min-width: 768px) {
	.repairs__wrapper {
		padding: 0 30px 0 30px; 
	}
}

.repairs__swiper-wrapper {
	padding: 20px 0 0 15px !important; 
	position: relative;
}


.swiper2 {
	overflow: hidden; 
	
}

/*----Стили Хедера---------------------------------------------------------------------------------------*/

.repairs__header {
	min-height: 70px;
	background: linear-gradient(to right, $header-smoky-color, $white-color);
}

.repairs__header .repairs__wrapper {
	border-top: 2px solid $top-border-color;

}

.repairs__header h2 {
	display: inline-block;
	opacity: 0.6;
	font-weight: normal;
	font-size: 16px;
	line-height: 50px;
}

/*------------------------------------------------------------------------------------------------------*/

.repairs__main {
	padding: 20px 0 0 0;	
}

@media all and (min-width: 768px) {
	.repairs__main {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: center;
		max-height: 170px;	
		overflow: hidden;
	}
}

@media all and (max-width: 767px) {
	.repairs__swiper-slide {
		height: 70px;
	}	
}


.swiper-pagination-bullet {
	--swiper-pagination-bullet-inactive-color: $pagination-bullet-color;
	--swiper-pagination-bullet-inactive-opacity: 1;
	height: 12px !important;
	width:  12px !important;
}


.swiper-pagination-bullet-active {
	--swiper-theme-color: $pagination-active-color;
}

.swiper-pagination {
		height: 20px;
		position: relative !important;
		padding-top: 20px;
	}

.swiper-pagination2 {
	position: absolute;
	top: -8px;
}

@media all and (min-width: 768px) {
	.swiper-pagination {
		display: none;
	}
}

@media all and (min-width: 768px) {
	.repairs__main_hidden {
		max-height: 170px;	
		overflow: hidden;
		transition: max-height 0.8s ease-in-out; 
	}
}

.repairs__main_open {
    max-height: 600px;
    transition: max-height 0.8s ease-in-out;
}

.repairs__button {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-self: flex-end;
}

.repairs__button>img {
	height: 40px;
	border-radius: 20px;
}

.repairs__button>img:nth-child(2) {
	width: 38px;
	height: 38px;
	position: absolute;
	left:3%;    
	top: 3%;
	filter: opacity(0);
}

.repairs__button>img:nth-child(2):hover {
	filter: opacity(0.6);
	transition:  0.5s;
}

.repairs__logo {
	flex-shrink: 0;
	flex-grow: 1;
	width: 240px;
	max-width: 330px;
	height: 160px !important;
	border: 2px solid $logo-border-color;
	border-radius: 5px;
	background: $white-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 15px 15px 0;
	padding: 15px 15px 15px 15px;
	box-sizing: border-box;
	cursor: pointer;
}


.repairs__logo:nth-child(5),
.repairs__logo:nth-child(4) {
	flex-grow: 0;
}




.repairs__logo>img {
	max-height: 45px;
	max-width: 120px;

}

.repairs__logo>span {
	font-weight: bold;
	font-size: 16px;
	align-self: flex-start;
}


@media all and (max-width: 767px) {
	.repairs__wrapper:nth-child(2)::after {
		content: "";
		position: absolute;
		right: 0px;
		top: 20px;
		z-index: 1;
		width: 50px;
		height: 160px;
		background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
	}
}


@media all and (max-width: 767px) {
	.repairs__wrapper:nth-child(2)::before {
		content: "";
		position: absolute;
		left: 0px;
		top: 20px;
		z-index: 2;
		width: 50px;
		height: 160px;
		background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
	}
}

.repairs__button-read-more {
	padding: 0;
	padding-left: 15px;
 	border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;

}

.repairs__button-read-more>img {
	display: inline-block;
	vertical-align: middle;
	transform: rotate(0deg);
	transition-property: transform;
	transition-duration: 0.8s;
	transition-timing-function: ease-in-out;
	opacity: 1;
}

.repairs__button-read-more>span {
	font-weight: 500;
	font-size: 15px;
	color: $graphite-color;
	display: inline-block;
	vertical-align: middle;
	/*opacity: 0.6;*/
}

.repairs__button-read-more_rotated>img {
	transform: rotate(180deg);
	transition-property: transform;
	transition-duration: 0.8s;
	transition-timing-function: ease-in-out;
}

@media all and (max-width: 767px) {
	.repairs__button-read-more
	 {
		display: none;
	}
}


.repairs__button-read-more:hover {
	filter: opacity(0.6);
	transition:  0.4s;
  	animation: hover 0.4s forwards;
	@keyframes hover {
	  0% {
	    transform: scale(1);
	  }
	  100% {
	    transform: scale(1.05);
	  }
	}
}