$black-color: #000000;
$white-color: #FFFFFF;
$graphite-color: #1B1C21;
$turquoise-color: #41f6d7;
$pale-blue-color: #eaeaea;
$platinum-gray-color: #808080;
$agate-gray-color: #B5B6BC;
$callBack-references-color: #FF3E79;
$textarea-border-color: #EAEAEA;
$pagination-bullet-color: #dcdcdc;
$pagination-active-color: #b4b5bb;
$header-smoky-color: #f8f8f8;
$platinum-color: #f7f7f7;
$top-border-color: #D9FFF5;
$logo-border-color: #e9e9e9;
$services-text-color: #7e7e82;